{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="text-center">Add Products</h2>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

    <div class="mb-3">
  <label class="form-label">Name</label>
  <input type="text" class="form-control" name="n" placeholder="Enter the Name">
</div>
    <div class="mb-3">
  <label class="form-label">Price</label>
  <input type="text" class="form-control" name="pr" placeholder="Enter the Price">
</div>
    <div class="mb-3">
  <label class="form-label">Stock</label>
  <input type="number" class="form-control" name="s" placeholder="Enter the No.of Stock">
</div>
    <div class="mb-3">
  <label class="form-label">Product Details</label>
  <input type="text" class="form-control" name="d" placeholder="Enter the Detials">
</div>
     <div class="mb-3">
  <label class="form-label">Image</label>
  <input type="file" class="form-control" name="c" placeholder="Add the Image">
</div>
 <div class="mb-3">
    <label class="form-label">Category</label>
    <select name="ca" class="form-select">
        {% for i in links %}
            <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
    </select>
</div>


    <div class="mb-3">
  <input type="submit" value="ADD">
</div>

</form>

{% endblock %}